*{margin: 0;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
input, button{outline: none;border: none;}
.centerWidth{
	width: 19.25rem;
}
.marginAuto{
	margin: auto;
}
.flex{display: flex;}
.spacebetween{justify-content: space-between;}
.spacearound{justify-content: space-around;}
.aligncenter{align-items: center;}
.alignend{align-items: flex-end;}
.alignstart{align-items: flex-start;}
.flexcolumn{flex-direction: column;}
.flexwrap{flex-wrap: wrap;}
.noMore{
	font-size: 11px;
	color: #A3A3A3;
	margin-top: 1.0625rem;
	text-align: center;
	margin-bottom: 1.0625rem;
}
.clear{clear: both;}