.chatList{
	background-color: #E6E6E6;
	.remarkList{
		width: 20.5625rem;
		height: 6.375rem;
		background: #FFFFFF;
		border-radius: 0.5625rem;
		margin-top: 0.5625rem;
		overflow: hidden;
		position: relative;
		.newMsg{
			width: 3.4375rem;
			height: 1.3125rem;
			background: #FF526C;
			border-radius: 0.6875rem;
			font-size: 0.75rem;
			color: #FFFFFF;
			position: absolute;
			top: 0.875rem;
			right: 1.3125rem;
		}
		.remarkContent{
			.remarkContentRight{
				width: 14.75rem;
				font-size: 0.75rem;
				color: #666666;
				line-height: 1.1875rem;
				margin-left: 2.6rem;
				margin-top: 0.375rem;
			}
			.masterreply{
				width: 15rem;
				font-size: 0.75rem;
				line-height: 1.375rem;
				background-color: #F0F0F0;
				padding: 0.75rem 0.875rem;
				border-radius: 0.3125rem;
				color: #666666;
				margin-bottom: 0.875rem;
				span{
					font-size: 0.75rem;
					color: #FFFFFF;
					padding: 0.125rem 0.375rem;
					background-color: #FF526C;
					border-radius: 0.625rem;
				}
			}
		}
		border-bottom: 0.0625rem solid #E4E4E4;
	}
	
	/* 大咖信息 */
	.masterInfo{
		width: 19.6875rem;
		height: 2.566875rem;
		margin-top: 0.75rem;
		.portrait{
			width: 2.5625rem;
			height: 2.5625rem;
			border-radius: 50%;
			background-color: #333;
			color: #FFFFFF;
			margin-left: 0.875rem;
		}
		.infoName{
			margin-left: 0.729375rem;
			.infoName_name{
				font-size: 0.75rem;
				color: #333333;
			}
			.infoName_time{
				font-size: 0.6875rem;
				color: #666666;
			}
		}
		.matserRights{
			height: 100%;
			span{
				font-size: 0.5625rem;
				color: #333333;
			}
		}
		.matserRight{
			width: 2.875rem;
			height: 1.375rem;
			background: rgba($color: #FF526C, $alpha: .15);
			border-radius: 0.6875rem;
			font-size: 0.6875rem;
			color: #FF526C;
		}
		.isfocus{
			background: #E9E9E9;
			color: #666666;
		}
	}
}